body {
    background: #f3f3f3;
    font-family: "Times New Roman", serif;
}

.wrapper {
    width: 750px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border: 3px solid #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
    height: auto;
}

.title {
    text-align: center;
}

.title h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.title h1 {
    margin: 5px 0 0 0;
    font-size: 32px;
    font-weight: bold;
}

/* CONTENT */

.content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

/* PHOTO FRAME */

.photo-frame {
    width: 260px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.photo-topbar {
    background: #ffb5d6;
    padding: 5px;
    text-align: left;
    font-size: 12px;
}

.photo {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

/* INFO CARDS */

.info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    background: #c9c8ff;
    padding: 18px;
    text-align: center;
    border-radius: 18px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    border: 2px solid #7c7bc1;
}

.name {
    font-size: 26px;
}

.time {
    font-size: 26px;
}

.subject {
    font-size: 26px;
}
