html, body {
    margin: 0;
    padding: 0;
}


/* Sidebar container */
.admin-sidebar {
    width: 220px;
    min-height: 100vh;
    background: #1e293b;           /* Navy gelap */
    padding: 20px;
    float: left;
    color: white;
    box-shadow: 3px 0 10px rgba(0,0,0,0.2);
}

/* Judul */
.sidebar-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

/* Menu */
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Menu item */
.sidebar-menu li {
    margin-bottom: 12px;
}

/* Link navigasi */
.sidebar-menu a {
    display: block;
    padding: 10px 14px;
    background: #334155;         /* sedikit lebih terang */
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.25s ease;
}

/* Hover */
.sidebar-menu a:hover {
    background: #4f6278;
    transform: translateX(4px);
}

/* Garis bawah */
.admin-sidebar hr {
    margin-top: 20px;
    border-color: rgba(255,255,255,0.3);
}















/* Container umum */
.dashboard-container {
    padding: 20px;
}

/* Header */
.dashboard-header h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.dashboard-header p {
    color: #475569;
    font-size: 15px;
}

/* Statistik */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 20px 0;
}

.stat-card {
    background: #1e293b;
    color: white;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
    transition: 0.25s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.stat-card h3 {
    font-size: 32px;
    margin: 0;
}

.stat-card p {
    margin: 0;
    font-size: 14px;
    color: #cbd5e1;
}

.stat-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

/* Menu */
.menu-title {
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Grid card menu */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

/* Card menu */
.menu-card {
    background: white;
    border-radius: 12px;
    padding: 25px 10px;
    text-align: center;
    text-decoration: none;
    color: #1e293b;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    transition: 0.25s;
}

.menu-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.18);
}

/* Ikon menu */
.menu-icon {
    font-size: 40px;
    margin-bottom: 10px;
}


.logout-btn {
    background: #01acfc;
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s;
    display: inline-block;
}

/* Hover */
.logout-btn:hover {
    background: #1c00b9;
}














